@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    border-bottom: 0.5px #80808029 solid;
    height: 68px;
    width: 100vw;
}
.navbar:hover{
    cursor: pointer;
}

.zerodha-logo{
    height: 17px;
    margin: 24px 123px;
}
ul{
    display: flex;
    padding: 1px 100px;
  font-size: 16px;
  color: grey;
}
.navbar li {
    list-style: none;
    padding: 25px 21px;
    font-weight: lighter;
}
.navbar li:hover{
    color: #387fd1;
}
main{
    font-family: 'Roboto', sans-serif;
}
.landing-zerodha{
    height: 285px;
    display: flex;
    margin: 59px auto;
}
main h1{
    color: rgb(87, 87, 87);
    font-size: 56px;
    text-align: center;
    font-weight: normal;
}
main p{
    font-size: 20px;
  text-align: center;
  color: rgb(68, 68, 68);
  margin-top: 10px;
}
.s {
    background-color: #fff;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 10px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s ease, transform 0.3s ease;
    transform-origin: bottom left;
}

input:focus {
    border-color: #3498db;
    transform: scaleX(1.1) scaleY(1.2);
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

.output {
    margin-top: 20px;
    font-size: 18px;
}